<!-- <p>login works!yeeyyyy</p> -->
<div>
    <h1>Welcome </h1>
        <h3>Login</h3>
            <form>
            <div>
            <label for="Name">Name:</label>
            <input type="text">
            <br>
            <br>
            <label for="email">Email:</label>
            <input required type="text">
            <br>
            <br>
            <label for="password">Password:</label>
            <input type="password">
            <br>
            <br>
             </div>
            <button>Submit</button>
            <br>
            <br>
            <a routerLink="/signUp">signup</a>
        </form>
</div>
        <h3>Register</h3>
            <form>
            <div>
            <label for="Name">Name:</label>
            <input type="text">
            
            <label for="Name">   Last Name:</label>
            <input type="text">
            <br>
            <br>
            <label for="email">Email:</label>
            <input required type="text">
            <br>
            <br>
            <label for="password">Password:</label>
            <input type="password">
            <br>
            <br>
            <label for="role">Role:</label>
            <select name="role">
                <option value="employer">Employer</option>
                <option value="candidate">Candidate</option>
            </select>
            <br>
            <br>

             </div>
            <button>Submit</button>
            <br>
            <br>
     
